<h1>Ecoles</h1>
<% i=0 %>
<%= f.hidden_field :school, :value=>'school'%>
<% @cv.content.school.each do |s|%>
	
	<% s.each do |c|%>
		<%= f.text_field :school, :name=>'content[school['+i.to_s+']][date]', :value=>c[1]['date']%>
		<%= f.text_field :school, :name=>'content[school['+i.to_s+']][name]',:value=>c[1]['name']%>
		<% i+=1%>
		<br />
	<%end%>
	<%= f.text_field :content ,:name=>'content[school['+i.to_s+']][date]', :value=>""%>
	<%= f.text_field :content ,:name=>'content[school['+i.to_s+']][name]',:value=>""%>
	<br />
<%end%>